name: Automatisation des tests DevSecOps

on: 
  push:

jobs:

  Dependances:
    name: Analyse des dépendances Python
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Installer Trivy
        uses: aquasec/trivy-action@master

      - name: Scan des dépendances (requirements.txt)
        run: trivy fs --exit-code 1 --severity HIGH,CRITICAL --file-patterns 'pip:.*\.txt' .
          
  Dockerfile:
    name: Analyse du Dockerfile
    runs-on: ubuntu-latest
    needs: Dependances

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Installer Trivy
        uses: aquasec/trivy-action@master
  Deploy:
    name: Déploiement (fictif)
    runs-on: ubuntu-latest
    needs: Dockerfile

    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée."


      - name: Scan du Dockerfile
        run: trivy config --exit-code 1 --severity HIGH,CRITICAL Dockerfile
